<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <ul>
            <%- include("detail.ejs",{"book":book}) %>
        </ul> 
        
        <footer>
            <a href="/">Go back home</a>
        </footer>
    </body>
</html>