<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/base.css">
  
    <title> Hello World </title>
</head>
<body>
    <header>
        <%- include('../layout/header') %>
    </header>

    <p id="paragraph"> Number of Books in database: <%= books.length %></p>

    <ul>
        <% books.forEach(book => { %>
            <%- include('books/detail.ejs', {book: book}); %>
            <a href="/books/<%= book.id %>">Details</a>
        <% }); %>
    </ul>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</body>
<script src = "server.js"></script>

</html>