<!DOCTYPE html>
<html>

<head>
    <title> Books! </title>
    <link rel="stylesheet" href="styles/base.css">
</head>

<body>
    <header>
        <h1> Books from Google </h1>
    </header>
    
    <main>
        <div>
            <% books.forEach (book => { %>
        </div>

        <section>
            <img src='<%= book.image %>'>
            <div id='title'>
                <%= book.title %>
            </div>
            <div>
                <%= book.author %>
            </div>
            <div>
                <%= book.description %>
            </div>
            <% }) %>
        </section>
    </main>
</body>
</html>