<!DOCTYPE html>
<html>
<body>
    <h1>
        Books from Google!
    </h1>
    <section>
        <form action="/searches" method="post">
            <fieldset>
                <input type="text" name="search" placeholder="search..." required>
            </fieldset>
            <fieldset>
                <input type="radio" name="searchby" value="title" required>Title
            </fieldset>
            <fieldset>
                <input type="radio" name="searchby" value="author" required>Author
            </fieldset>
            <button type="submit">Search Books</button>
        </form>
    </section>
</body>
</html>